/* Custom fonts visually badly guessed from preview */ 
@font-face {
    font-family: 'Gotham-Black';
    src: url('/thirdparty/_fonts/Gotham/regular/Gotham-Black.otf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Bold';
    src: url('/thirdparty/_fonts/Gotham/regular/Gotham-Bold.otf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Medium';
    src: url('/thirdparty/_fonts/Gotham/regular/Gotham-Medium.otf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Book';
    src: url('/thirdparty/_fonts/Gotham/regular/Gotham-Book.otf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Book-Rounded';
    src: url('/thirdparty/_fonts/Gotham/rounded/GothamRnd-Book.otf');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Bold-Rounded';
    src: url('/thirdparty/_fonts/Gotham/rounded/GothamRnd-Bold.otf');
    font-style: normal;
  }
  
  body {
    font-family: 'Gotham-Medium';
    -webkit-font-smoothing: antialiased;
  }
  
  .COMMENT-lm-nav {
    vertical-align: middle;
  }
  
  .COMMENT-lm-navbar-brand {
  }
  
  .lm-navbar-brand-logo{
    width: 100%;
    max-width: 500px;
  }
  
  ul.lm-navbar-selling-points {
    font-family: 'Gotham-Bold';
    display: inline-block;
    list-style: none;
    padding-left: 0px;
  }
  
  ul.lm-navbar-selling-points li:before {
    content:  '✓ ';
    color: rgb(62, 157, 3);
    font-weight: bold;
  }
  
  COMMENT-.lm-clearer {
    clear: both;
  }
  
  .lm-main-section {
    background-color: rgb(3, 45, 108);
    color: #ffffff;
  }
  
  .lm-tagline-large1 {
    font-size: 32pt;
  }
  
  .lm-tagline-large2 {
    font-family: 'Gotham-Bold';
    font-size: 23pt;
  }
  
  .lm-modal-content {
    font-family: 'Gotham-Book';

    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;

    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .lm-modal-body {
    border: 0px none !important;
    padding-top: 0px !important;
  }

  .lm-modal-header {
    border: 0px none !important;
  }
  
  .lm-modal-footer {
    border: 0px none !important;
  }
  
  .lm-modal-body-footer {
    text-align: center;
  }

  .lm-rounded-control {
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;

    padding: 15px 25px 15px 25px !important;
  }
  
  .lm-btn {
    font-family: 'Gotham-Bold';
    font-size: 10pt !important;

    background-color: rgb(2, 55, 123) !important;
  }
  
  .lm-badge {
    font-family: 'Gotham-Bold';
    background-color: rgb(214, 141, 0) !important;

    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;

    padding: 12px 24px 12px 14px !important;
    width: 20px !important;
    text-align: left;
    color: #ffffff !important;
  }

  .lm-main-row,
  .lm-form-area {
    padding: 0px !important;
    margin: 0px !important;
  }

  .lm-form-element {
    font-family: 'Gotham-Book';
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
  .lm-searchfield, .lm-dropdown {
    width: 80%;
    border: 0px none;
  }

  .lm-searchfield:focus {
    border: 0px none;
    outline: none;
  }

  .lm-dropdown {
    width: 80%;
    cursor: pointer;
  }

  .lm-form-control {
    background-color: #ffffff;
  }

  .lm-form-area-footer {
    font-family: 'Gotham-Book';
    font-weight: 100;
    text-align: center;
  }

  .lm-other-categories-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .lm-testimonials-area {
    padding-right: 40px;
  }

  .lm-testimonials-header {
    padding-bottom: 20pt;
  }

  .lm-testimonial-profile {
    font-family: 'Gotham-Book';
    text-align: center;
  }

  .lm-testimonial-who {
    font-weight: bold;
  }

  .lm-testimonial-from {
    font-family: 'Gotham-Book';
  }

  .lm-testimonial-category {
    font-weight: bold;
    padding-right: 20pt;
  }

  .lm-testimonial-text {
    padding-top: 10pt;
    font-style: italic;
  }

  .lm-testimonial-details-link {
    color: orange;
    text-align: right;
  }

  .lm-star-checked {
    color: orange;
  }

  .lm-testimonial-divider {
    border: 1px solid rgb(12, 84, 145);
  }

  .lm-testimonial-details-link {
    cursor: pointer;
  }

  .lm-dropdown-content {
    display: none;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    margin-top: 15pt;
    margin-left: -15pt;

    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;

    width: 95%;
  }

  .lm-dropdown-content ul {
    list-style: none;
    padding: 15pt 20pt 10pt 20pt;
  }

  .lm-dropdown-content li {
    font-weight: lighter;
    padding-left: 25pt;
    cursor: pointer;
  }

  .lm-dropdown-content li:hover {
    background-color: rgb(188, 211, 227);
    font-family: 'Gotham-Bold';
    font-weight: bolder;
  }


  .lm-searchfield-content {
    display: none;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    margin-top: 15pt;
    margin-left: 15pt;

    padding: 5pt 25pt 5pt 25pt;

    cursor: pointer;
  }

  .lm-searchfield-content-zip {
    color: rgb(108, 194, 255);
  }

  .lm-client-reviews-modal-content {
    width: 500px;
    padding-right: 0px !important;
  }

  .lm-client-reviews-divider {
    width: 94%;
    text-align: left;
    border-bottom: 1px solid #000000;
  }

  .lm-modal-review-header {
    font-size: 16pt;
    font-weight: 500;
    width: 100%;
    padding-bottom: 10pt;
    border-bottom: 1px solid black !important;
  }

  .lm-modal-rating-header {
    font-size: 16pt;
    font-weight: 500;
  }

  .lm-client-reviews-profile-container {
    padding-left: 12pt;
    padding-bottom: 10pt;
  }

  .lm-client-review-profile {
    width: 60pt;
  }

  .lm-client-review-who {
    font-size: 18pt;
  }

  .lm-client-review-from {
    font-weight: 100;
    font-size: 10pt;
  }

  .lm-client-review-what {
    font-weight: 900;
    font-size: 10pt;
  }

  .lm-bold {
   font-weight: 900 !important; 
  }

  .lm-client-reviews-rating-entry {
    width: 800px;
    font-size: 11pt !important; 
    padding-left: 10pt;
    padding-right: 60pt;
    font-weight: 100;
  }

  .lm-client-reviews-rating-entry-stars {
    text-align: right;
  }

  .lm-client-reviews-modal-close-link {
    text-align: right;
  }

  .lm-client-reviews-modal-footer {
    text-align: right;
    padding-right: 23pt;
    padding-bottom: 2pt;
  }

  .lm-client-reviews-testimonial {
    padding-top: 15pt;
    font-size: 11pt;
    padding-right: 10pt;
  }

  .lm-other-categories-modal-content {
    padding-left: 7pt;
  }

  .lm-other-categories-subtitle {
    font-family: 'Gotham-Book';
    font-size: 11pt;
    font-weight: 100;
  }

  .lm-other-categories-body {
    font-family: 'Gotham-Book';
    font-size: 9pt;
    font-weight: 100;
    padding-top: 0px;
    padding-bottom: 20pt;
  }

  .lm-other-categories-body td{
    color: rgb(111, 148, 197);
  }

  .lm-footer {
     background-color: #ffffff;
     width: 100% !important;
     padding: 40px 10px 60px 60px;
     margin-top: auto;
     margin-bottom: auto;
   }

  .lm-footer-md {
    background-color: #ffffff;
    padding-top: 20px;
  }

  .lm-footer-logo {
    width: 200px;
  }

  .lm-footer-logo-container-md {
    width: 100%;
    text-align: center;
  }

  .lm-footer-logo-md {
    padding-top: 10pt;
    padding-bottom: 10pt;
    width: 200px;
  }

  .lm-footer-links {
    text-align: center;
    vertical-align: middle;
    font-family: 'Gotham-Book';
    font-weight: 100;
    vertical-align: middle;    
    margin-top: auto;
    margin-bottom: auto;
 }

  .lm-footer-links-divider {
    padding-left: 10pt;
    padding-right: 10pt;
    font-weight: 900;
    font-size: 18pt;
    vertical-align: middle;    
  }

  .lm-footer-logo-truste {
    height: 50px;
  }

  .lm-footer-logo-thirdparty {
    text-align: center;
  }

  .lm-footer-logo-bb {
    width: 150px;
  }

  #client_reviews_ratings_container {
    padding-top: 10pt;
    padding-bottom: 10pt;
  }

  #subcategory_content_container {
    padding-bottom: 30px;  
  }

  #close_client_review_link {
    cursor: pointer;
  }

  #overlay_block {
    display: none;
    background-color: #000000;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;

    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  #testimonial_template {
    display: none;
  }

  /* ---------------------- MEDIA QUERIES ---------------------- */

  /* Mobile devices  */
  @media only screen and (max-width: 500px) {
    .lm-testimonial-details-link {
      text-align: center;
    }

    .lm-testimonial-body {
      text-align: center !important;
    }

    .lm-testimonial-category {
      padding: 0px;
    }

  }
 
  /* Mobile devices  */
  @media only screen and (max-width: 767px) {
    .lm-tagline-large1 {
      text-align: center;
    }
  
    .lm-tagline-large2 {
      text-align: center;
    }

    .lm-form-area {
      padding-top: 50pt !important;
      padding-bottom: 50pt !important;
    }

    .lm-testimonials-area {
      text-align: center;
    }

    .lm-testimonial-body {
      padding-top: 10pt;
      text-align: left;
    }

    .lm-testimonial-text {
      text-align: center;
    }

  } 
  
  /* Medium devices  */
  @media only screen and (min-width: 768px) {
    #subcategory_content_container div {
      width: 700px;
      padding-top: 10px;
    }

    .lm-navbar-brand-logo {
      Awidth: 60%;
      max-width: 600px;
      padding-left: 40px;
    }
  
    ul.lm-navbar-selling-points {
      padding-right: 80px;
    }
  
    .lm-modal-content {
      width: 600px !important;          
    }

    .lm-main-section {
      padding-left: 60px;
    }

    .lm-form-area {
      padding-top: 40pt !important;
    }

    .lm-form-element {
      padding-left: 0px !important; 
      max-width: 490px !important;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  } 
  